.transition-green-to-white:first-of-type {
    height: 5vw;
    background-color: #0b9934;
    clip-path: polygon(
        0 -1%,
        101% -1%,
        101% 100%,
        0 0
    );
}

.card {
    border-color: #043712;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: linear 0.2s;
}

.card h1 {
    color: #054316;
}

.card-footer {
    border-top: 1px solid #054316;
    background-color: #404040;
    transition: ease 0.2s;
}
.card:hover > .card-footer {
    background-color: #0ca438;
    color: #404040;
    transition: ease 0.2s;
}
.card-image img {
    filter: opacity(80%);
    transition: ease 0.2s;
    margin-top: 25px;

    padding: calc(5px +  10px); /* Gap + Border thickness */
    --_g: #0000 25%, #0ca438 0;
    background:
        conic-gradient(from 180deg at top     10px right  10px,var(--_g))
        var(--_i,200%) 0  /200% var(--_i, 10px)  no-repeat,
        conic-gradient(            at bottom  10px left   10px,var(--_g))
        0   var(--_i,200%)/var(--_i, 10px) 200%  no-repeat !important;
    transition: .3s, background-position .3s .3s;
}
.card:hover img {
    transform: scale(1.1);
    filter: opacity(100%);
    transition: ease 0.2s;
    color: #0ca438;

    --_i: 100%;
    transition: .3s, background-size .3s .3s;
}

.card-footer a {
    color: white;
    font-size: large;
}

.card-block, .card-content {
    height: 100%;
}

.hero-left {
    margin-top:169px;
}
.hero-right {
    text-align: center;
}

.hero-right img {
    height:55em;
}
.hero-foot {
    margin-bottom: 50px;
}

.highlight-block {
    display:block;
}

.r-1 {
    border-radius: 0.5em;
}

.r-2 {
    border-radius: 1em;
}

.r-3 {
    border-radius: 2em;
}
