.card {
    /*background: linear-gradient(to right, #096c25, #0a7328);*/
    border-color: #043712;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    /*box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%)
    */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card h1 {
    color: #054316;
}

.card-footer {
    border-top: 1px solid #054316;
}

.card-footer a{
    color: #054316;
}

.card-middle .card-footer a {
    color: white
}
.card-middle img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(137deg) brightness(103%) contrast(101%);
}

.column-middle {
    padding: 0px;
}

.feature-light .card-middle {
    background: linear-gradient(to right, #085e20, #096824);
}

.feature-light .card-middle .card-content {
    color: #a6dcb5;
}
.feature-light .card-middle h1{
    color: white;
}

.feature-light .card-middle .card-footer {
    border-top: 1px solid #ededed3c;
}

.hero-left {
    margin-top:169px;
}
.hero-right {
    text-align: center;
}

.hero-right img {
    height:55em;
}
.hero-foot {
    margin-bottom: 50px;
}

.highlight-block {
    display:block;
}

