{{ define "main" }}
<section class="section feature-dark mountains">
        <div class="container">
                <h1 class="section-title has-text-centered is-size-4-mobile my-0">
                        {{ .Page.Title }}
                </h1>
                <h2 class="subtitle has-text-centered is-size-6-mobile mt-0">
                        {{ .Page.Date.Format "January 2, 2006" }}
                </h2>
                <!-- <figure class="image"> -->
                <!--         <img src="{{ .Page.Params.feature_image }}" class="nofilter" alt="{{ .Page.Title }}"> -->
                <!-- </figure> -->
        </div>
</section>
<div class="transition-green-to-white"></div>

<div class="section container box">
        {{ .Page.Content }}
</div>

{{ end }}

