<!DOCTYPE html>
<html lang="en" prefix="og:https://ogp.me/ns#">
<head>
    {{ block "tagmgrhead" . }}
    {{ partial "tagmgrhead" . }}
    {{ end }}
    {{ block "head" . }}
    {{ partial "head" . }}
    {{ end }}
    <title>
        {{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}
    </title>
</head>
<body>    
    {{ block "tagmgrbody" . }}
    {{ partial "tagmgrbody.html" . }}
    {{ end }}
    {{ block "header" . }}
    {{ partial "navbar" . }}
    {{ end }}
    {{ block "main" . }}
        <h1>main</h1>
    {{ end }}
    {{ block "footer" . }}
    {{ partial "footer" . }}
    {{ end }}
</body>
</html>
