{{ define "main" }}
{{ .Content }}
<div class="container content listPageContent">
  {{ range .Pages }}
    <div class="card">
        <div class="card-content">
            <div class="content">
                <h3>{{.Title}}</h3>
                <p>{{.Summary}}</p>
                <br>
            </div>
        </div>
        <footer class="card-footer">
            <a href="{{.Permalink}}" class="card-footer-item button is-success ">Les mer</a>
        </footer>
    </div>
    <br>
{{ end }}
</div>

<div class="transition-white-to-green"></div>
{{ end }}
