<!DOCTYPE html>
<html lang="en" prefix="og:https://ogp.me/ns#">
<head>
    {{ block "tagmgrhead" . }}
    {{ partial "tagmgrhead" . }}
    {{ end }}
    {{ block "head" . }}
    {{ partial "head" . }}
    {{ end }}
    <title>
        {{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}
    </title>
</head>
<body>
    {{ block "tagmgrbody" . }}
    {{ partial "tagmgrbody" . }}
    {{ end }}
    {{ block "main" . }}
        <h1>main</h1>
    {{ end }}
    <footer class="footer">
        <div class="container">
          <div class="columns">
            <div class="column">
                {{ partial "picture.html" (dict "src" "logos/kovert-negative.png" "alt" "Link til forsiden" "class" "footer-logo") }}
            </div>
          </div>
        </div>
      </footer>

    <!-- Meta Pixel Code -->
    <script type="text/javascript" src="/js/pixels/meta.js"></script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=362827803374406&ev=PageView
&noscript=1"/>
    </noscript>
    <!-- End Meta Pixel Code -->

    <!-- LinkedIn Pixel Code -->
    <script type="text/javascript" src="/js/pixels/linkedin.js"></script>
    <noscript>
        <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=7489897&fmt=gif" />
    </noscript>
    <!-- End LinkedIn Pixel Code -->

</body>
</html>
