<footer class="footer">
    <div class="container">
      <div class="columns">
        <div class="column">
          <a href="/no/">
            {{ partial "picture.html" (dict "src" "logos/kovert-negative.png" "alt" "Link til forsiden" "class" "footer-logo") }}
          </a>
        </div>
        <div class="column">
          <ul>
            <li><a class="transform-uppercase" href="/blogg/">Blogg</a></li>
            <li><a class="transform-uppercase" href="/om-oss/">Om oss</a></li>
            <li><a class="transform-uppercase" href="/privacy-policy">Personvernerklæring</a></li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li><a class="transform-uppercase" href="/tjenester/penetrasjonstesting/">Penetrasjonstesting</a></li>
            <li><a class="transform-uppercase" href="/tjenester/kurs-og-opplaering/">Kurs og opplæring</a></li>
            <li><a class="transform-uppercase" href="/tjenester/applikasjons-testing/">Applikasjonstesting</a></li>
            <li><a class="transform-uppercase" href="/tjenester/">Sikkerhet i skyen</a></li>
            <li><a class="transform-uppercase" href="/tjenester/">IoT og produktsikkerhet</a></li>
            <li><a class="transform-uppercase" href="/tjenester/">Adversary simulation</a></li>
          </ul>
        </div>
        <div class="column">
          <a class="button navbar-button transform-uppercase" href="/kontakt/">Kontakt oss</a>
        </div>
        <div class="column">
          <ul><li>
              {{ partial "translateButton" . }}
          </li></ul>
        </div>
      </div>
    </div>
  </footer>
