<footer class="footer">
    <div class="container">
      <div class="columns">
        <div class="column">
          <a href="/">
            {{ partial "picture.html" (dict "src" "logos/kovert-negative.png" "alt" "Link to home" "class" "footer-logo") }}
          </a>
        </div>
        <div class="column">
          <ul>
            <li><a href="/en/blog/">BLOG</a></li>
            <li><a href="/en/about-us/">ABOUT US</a></li>
            <li><a href="/en/careers/">CAREERS</a></li>
            <li><a href="https://merch.kovert.no/">BUY OUR MERCH</a></li>
            <li><a href="/privacy-policy/">PRIVACY POLICY</a></li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li><a href="/en/services/penetration-testing/">PENETRATION TESTING</a></li>
            <li><a href="/en/services/cloud-security/">CLOUD SECURITY</a></li>
            <li><a href="/en/services/application-testing/">APPLICATION TESTING</a></li>
            <li><a href="/en/services/iot-product-security/">IOT AND PRODUCT SECURITY</a></li>
            <li><a href="/en/services/trainings/">TRAININGS</a></li>
            <li><a href="/en/services/adversary-simulation/">ADVERSARY SIMULATION</a></li>
          </ul>
        </div>
        <div class="column">
          <a class="button navbar-button" href="/en/contact/">GET IN TOUCH</a>
        </div>
        <div class="column">
          <ul><li>
              {{ partial "translateButton" . }}
          </li></ul>
        </div>
      </div>
    </div>
  </footer>

<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '362827803374406');
  fbq('track', 'PageView');
</script>
<noscript>
  <img height="1" width="1"
       src="https://www.facebook.com/tr?id=362827803374406&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Meta Pixel Code -->

<!-- LinkedIn Pixel Code -->
<script type="text/javascript">
  _linkedin_partner_id = "7489897";
  window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
  window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script type="text/javascript">
  (function(l) {
    if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
      window.lintrk.q=[]}
    var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})(window.lintrk);
</script>
<noscript>
  <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=7489897&fmt=gif" />
</noscript>
<!-- End LinkedIn Pixel Code -->
