<footer class="footer">
    <div class="container">
      <div class="columns">
        <div class="column">
          <a href="/no/">
            {{ partial "picture.html" (dict "src" "logos/kovert-negative.png" "alt" "Link til forsiden" "class" "footer-logo") }}
          </a>
        </div>
        <div class="column">
          <ul>
            <li><a href="/blogg/">BLOGG</a></li>
            <li><a href="/om-oss/">OM OSS</a></li>
            <li><a href="/karriere/">KARRIERE</a></li>
            <li><a href="https://merch.kovert.no/">MERCH</a></li>
            <li><a href="/privacy-policy">PERSONVERNERKLÆRING</a></li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <!-- <li><a href="/tjenester/attack-surface-management/">ATTACK SURFACE MANAGEMENT</a></li> -->
            <li><a href="/tjenester/penetrasjonstesting/">PENETRASJONSTESTING</a></li>
            <li><a href="/tjenester/sikkerhet-i-skyen/">SIKKERHET I SKYEN</a></li>
            <li><a href="/tjenester/applikasjons-testing/">APPLIKASJONSTESTING</a></li>
            <li><a href="/tjenester/iot-produkt-sikkerhet/">IOT OG PRODUKTSIKKERHET</a></li>
            <li><a href="/tjenester/quickcheck/">QUICKCHECK</a></li>
            <li><a href="/tjenester/kurs-og-opplaering/">KURS OG OPPLÆRING</a></li>
            <li><a href="/tjenester/adversary-simulation/">ADVERSARY SIMULATION</a></li>
          </ul>
        </div>
        <div class="column">
          <a class="button navbar-button" href="/kontakt/">KONTAKT OSS</a>
        </div>
        <div class="column">
          <ul><li>
              {{ partial "translateButton" . }}
          </li></ul>
        </div>
      </div>
    </div>
  </footer>
