<footer class="footer">
    <div class="container">
      <div class="columns">
        <div class="column">
          <a href="/no/">
            <img src="/images/logos/kovert-negative.png" width="150" alt="Link til forsiden">
          </a>
        </div>
        <div class="column">
          <ul>
            <li><a href="/no/our-story/">HISTORIE</a></li>
            <li><a href="/no/careers/">KARRIERE</a></li>
            <li><a href="https://merch.kovert.no/">MERCH</a></li>
            <li></li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li><a href="/no/services/attack-surface-management/">ATTACK SURFACE MANAGEMENT</a></li>
            <li><a href="/no/services/penetration-testing/">PENETRASJONSTESTING</a></li>
            <li><a href="/no/services/trainings/">KURS OG OPPLÆRING</a></li>
            <li><a href="/no/services/adversary-simulation/">ADVERSARY SIMULATION</a></li>
          </ul>
        </div>
        <div class="column">
          <a class="button navbar-button" href="/no/contact/">KONTAKT OSS</a>
        </div>
        <div class="column">
          <p>Også tilgjengelig på:</p>
          <ul>
          {{ range $.Site.Home.AllTranslations }}
          <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
          {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </footer>
