<footer class="footer">
    <div class="container">
      <div class="columns">
        <div class="column">
          <a href="/">
            <img src="/images/logos/kovert-negative.png" width="150" alt="Link to home">
          </a>
        </div>
        <div class="column">
          <ul>
            <li><a href="/our-story/">OUR STORY</a></li>
            <li><a href="/careers/">CAREERS</a></li>
            <li><a href="https://merch.kovert.no/">BUY OUR MERCH</a></li>
            <li></li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li><a href="/services/attack-surface-management/">ATTACK SURFACE MANAGEMENT</a></li>
            <li><a href="/services/penetration-testing/">PENETRATION TESTING</a></li>
            <li><a href="/services/trainings/">TRAININGS</a></li>
            <li><a href="/services/adversary-simulation/">ADVERSARY SIMULATION</a></li>
          </ul>
        </div>
        <div class="column">
          <a class="button navbar-button" href="/contact/">GET IN TOUCH</a>
        </div>
      </div>
    </div>
  </footer>