<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/bulma.min.css">
<link rel="stylesheet" href="/css/bulma-divider.min.css">
<link rel="stylesheet" href="/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/css/kovert.css">
<link rel="stylesheet" href="{{ (resources.Get "/css/style.css" | resources.Minify).Permalink }}">
<link rel=”shortcut icon” href="/favicon.ico">
<link rel="icon" type="image/x-icon" href="/favicon.ico">

<!-- General -->
<meta name="description" content="We find your weaknesses before the hackers do. Kovert thinks like the hackers, and specialize in cybersecurity testing.">
<meta http-equiv="Content-Security-Policy" content="
    default-src 'self' https://kovert.no https://kovertcdn.blob.core.windows.net;
    style-src 'self' 'unsafe-inline' https://kovert.no;
    img-src 'self' https://kovert.no data:;
    script-src 'self' https://kovert.no https://cdn-cookieyes.com https://www.googletagmanager.com https://googleads.g.doubleclick.net;
    frame-src 'self' https://www.googletagmanager.com https://www.linkedin.com;
    connect-src 'self' https://log.cookieyes.com https://cdn-cookieyes.com  https://region1.google-analytics.com https://www.google.com/;
">

<!-- Image -->
<meta property="og:image" content="https://kovert.no/images/logos/kovert-widescreen.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:alt" content="Kovert Logo">

<!-- Facebook -->
<meta property="og:url" content="https://kovert.no">
<meta property="og:type" content="website">
<meta property="og:title" content="Kovert">
<meta property="og:description" content="We find your weaknesses before the hackers do.
Kovert thinks like the hackers, and specialize in cybersecurity testing.">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="kovert.no">
<meta property="twitter:url" content="https://kovert.no">
<meta name="twitter:title" content="Kovert">
<meta name="twitter:description" content="We find your weaknesses before the hackers do.
Kovert thinks like the hackers, and specialize in cybersecurity testing.">
<meta name="twitter:image" content="https://kovert.no/images/logos/kovert-widescreen.png">

<script src="/js/index.js"></script>
