{{/*  TODO: Make sticky/fixed when scrolling  */}}
{{ if .Site.Params.notification }}
<div class="notification is-primary not-notification has-text-centered">
  {{ .Site.Params.notification | safeHTML }}
</div>
{{end}}
<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/logos/kovert-negative.png" alt="Kovert logo">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="transform-uppercase navbar-link is-arrowless" href="/tjenester/">
            Tjenester
          </a>
        </div>

        <div class="navbar-item is-nav-link">
          <a class="transform-uppercase" href="/om-oss/">Om oss</a>
        </div>

        <div class="navbar-item is-nav-link">
          <a class="button navbar-button transform-uppercase" href="/kontakt/">Kontakt oss</a>
        </div>

        <div class="navbar-item is-nav-link">
          {{ partial "translateButton" . }}
        </div>
      </div>
    </div>
  </div>
</nav>
