{{/*  TODO: Make sticky/fixed when scrolling  */}}
<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="container">
    
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/logos/kovert-negative.png">
      </a>
      
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless" href="#">
            SERVICES
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/services/attack-surface-management/">
              ATTACK SURFACE MANAGEMENT
            </a>
            <a class="navbar-item" href="/services/penetration-testing/">
              PENETRATION TESTING
            </a>
            <a class="navbar-item" href="/services/adversary-simulation/">
              ADVERSARY SIMULATION
            </a>
            <a class="navbar-item" href="/services/trainings/">
              TRAININGS
            </a>

          </div>
        </div>
        
        <div class="navbar-item is-nav-link">
          <a class="" href="/our-story/">OUR STORY</a>
        </div>
        
        
        <div class="navbar-item is-nav-link">
          <a class="" href="/careers/">CAREERS</a>
        </div>

        <div class="navbar-item is-nav-link">
          <a class="button navbar-button is-info is-outlined" href="https://merch.kovert.no/">MERCH</a>
        </div>
        
        <div class="navbar-item is-nav-link">
          <a class="button navbar-button" href="/contact/">CONTACT US</a>
        </div>
      </div>
    </div>
  </div>
</nav>
