<div class="container">
    <section class="section feature-light">
        <h1 class="section-title has-text-centered">Vi tilbyr <span class="highlight">spesialiserte tjenester</span> for å <br>sikre din <span class="highlight">bedrift</span></h1>
        <div class="columns">
            <div class="column is-4">
                <div class="card r-1">
                    <div class="card-image">
                        <figure class="image">
                            <a href="/tjenester/penetrasjonstesting/">
                                {{ partial "picture.html" (dict "src" "network.png" "alt" "Nettverk og Penetrasjonstesting") }}
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-4-mobile">Nettverks- og Penetrasjons-<br>testing</h1>
                            Målrettede søk og tester av svakheter av dine applikasjoner, nettverk og infrastruktur.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="/tjenester/penetrasjonstesting/" class="card-footer-item">Les mer</a>
                    </footer>
                </div>
            </div>

            <div class="column is-4">
                <div class="card r-1">
                    <div class="card-image">
                        <figure class="image">
                            <a href="/tjenester/kurs-og-opplaering/">
                                {{ partial "picture.html" (dict "src" "presentation.png" "alt" "Kurs og opplæring") }}
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-4-mobile">Kurs og opplæring</h1>
                            Vårt team av spesialister tilbyr kurs og opplæring i digital sikkerhet, og deler av våre kunnskaper og erfaringer for å gjøre dere sikrere. Vi tilbyr kurs i ulike nivåer og til ulike situasjoner som passer dine behov.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="/tjenester/kurs-og-opplaering/" class="card-footer-item">Les mer</a>
                    </footer>
                </div>
            </div>

            <div class="column is-4">
                <div class="card r-1">
                    <div class="card-image">
                        <figure class="image">
                            <a href="/tjenester/applikasjons-testing/">
                                {{ partial "picture.html" (dict "src" "vulnerability.png" "alt" "Applikasjons-testing") }}
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-4-mobile">Applikasjons-<br>testing</h1>
                            Vi hjelper deg med å sikre din programvare og dine applikasjoner, på web, mobil og desktop.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="/tjenester/applikasjons-testing/" class="card-footer-item">Les mer</a>
                    </footer>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4">
                <div class="card r-1">
                    <div class="card-image">
                        <figure class="image">
                            <span>
                                {{ partial "picture.html" (dict "src" "cloud.png" "alt" "Sikkerhet i skyen") }}
                            </span>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-4-mobile">Sikkerhet i skyen</h1>
                            Skytjenester blir en stadig større del av moderne IT-løsniger. Vi hjelper deg med å sikre dine skytjenester.
                        </div>
                    </div>
                </div>
            </div>


            <div class="column is-4">
                <div class="card r-1">
                    <div class="card-image">
                        <figure class="image">
                            <span>
                                {{ partial "picture.html" (dict "src" "iot.png" "alt" "IoT Produktsikkerhet") }}
                            </span>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-4-mobile">IoT- og produktsikkerhet</h1>
                            Med kunnskap og erfaring fra sikkerhetstesting av IoT-produkter og -løsninger, kan vi hjelpe deg med å sikre både program- og maskinvare.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card r-1">
                    <div class="card-image">
                        <figure class="image">
                            <span>
                                {{ partial "picture.html" (dict "src" "hacker.png" "alt" "Red-team og beredskap") }}
                            </span>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-4-mobile">Red-team og beredskap</h1>
                            Vi hjelper deg med å teste dine sikkerhetsløsninger og beredskap mot målrettede angrep, gjennom simulering av reelle angrep.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
