<div class="container">
    <section class="section feature-light">
        <h1 class="section-title has-text-centered">We offer <span class="highlight">specialized services</span> to <br class="is-hidden-touch">secure your <span class="highlight">business</span></h1>
        <div class="columns">
            <div class="column is-4">
                <div class="card r-1">
                    <div class="card-image">
                        <figure class="image">
                            <a href="/services/penetration-testing/">
                                {{ partial "picture.html" (dict "src" "network.png" "alt" "" "class" "p-5") }}
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-4-mobile">Network and Penetration Testing</h1>
                            Proactively uncover risks and vulnerabilities in your digital environment.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="/services/penetration-testing/" class="card-footer-item">Learn more</a>
                    </footer>
                </div>
            </div>

            <div class="column is-4">
                <div class="card r-1">
                    <div class="card-image">
                        <figure class="image">
                            <a href="/services/trainings/">
                                {{ partial "picture.html" (dict "src" "presentation.png" "alt" "" "class" "p-5") }}
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-4-mobile">Courses and Training</h1>
                            Taught directly by our team, we share our operational knowledge and lessons learned. We offer a range of scenarios designed to be applicable in day-to-day security operations.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="/services/trainings/" class="card-footer-item">Learn more</a>
                    </footer>
                </div>
            </div>

            <div class="column is-4">
                <div class="card r-1">
                    <div class="card-image">
                        <figure class="image">
                            <a href="/services/application-testing/">
                                {{ partial "picture.html" (dict "src" "vulnerability.png" "alt" "Placeholder image" "class" "p-5") }}
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-4-mobile">Application Testing</h1>
                            We help you secure your software and applications, on web, mobile and desktop.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="/services/application-testing/" class="card-footer-item">Learn more</a>
                    </footer>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4">
                <div class="card r-1">
                    <div class="card-image">
                        <figure class="image">
                            <span>
                                {{ partial "picture.html" (dict "src" "cloud.png" "alt" "" "class" "p-5") }}
                            </span>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-4-mobile">Cloud Security</h1>
                            Cloud services are becoming an increasingly large part of modern IT solutions. We help you secure your cloud environment.
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-4">
                <div class="card r-1">
                    <div class="card-image">
                        <figure class="image">
                            <span>
                                {{ partial "picture.html" (dict "src" "iot.png" "alt" "" "class" "p-5") }}
                            </span>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-4-mobile">IoT and Product Security</h1>
                            We can help you secure your IoT products and solutions, with experience in testing both software and hardware.
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card r-1">
                    <div class="card-image">
                        <figure class="image">
                            <span>
                                {{ partial "picture.html" (dict "src" "hacker.png" "alt" "" "class" "p-5") }}
                            </span>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-4-mobile">Red Team and Readiness</h1>
                            We help you test your defenses and readiness against targeted attacks, through simulation of real-world threat actors.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
