{{ if eq .Lang "no" }}

  <!-- If this page has an english translation, link to it. Otherwise, link to the front page -->
  {{ $translatedURL := "/en" }}
  {{ range .Translations }}
    {{ if eq .Lang "en" }}
      {{ $translatedURL = .RelPermalink }}
    {{ end }}
  {{ end }}
  <a href="{{ $translatedURL }}" aria-label="View in English">
    {{ partial "picture.html" (dict "src" "english.png" "class" "image is-32x32 flag-btn") }}
  </a>

{{ else }}

  <!-- If this page has a norwegian translation, link to it. Otherwise, link to the front page -->
  {{ $translatedURL := "/" }}
  {{ range .Translations }}
    {{ if eq .Lang "no" }}
      {{ $translatedURL = .RelPermalink }}
    {{ end }}
  {{ end }}
  <a href="{{ $translatedURL }}" aria-label="Se på norsk">
    {{ partial "picture.html" (dict "src" "norwegian.png" "class" "image is-32x32 flag-btn") }}
  </a>

{{ end }}
