<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    {{ partial "head" . }}
    <title>Kovert - We find your weaknesses before the hackers do</title>
    <link rel="stylesheet" href="{{ (resources.Get "/css/index.css" | resources.Minify).Permalink }}">
</head>
<body>
    <section class="hero is-fullheight is-transparent">
        <div id="particles-js"></div>
        <div class="hero-head">
            {{ partial "navbar" . }}
        </div>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-hidden-touch">
                    <div class="column is-6 hero-left">
                        <h1 class="title is-1">We find your <span class="highlight-block"><span class="highlight"></span></span> before the <span class="highlight">hackers</span> do</h1>
                        <h2 class="subtitle is-3">Kovert thinks like the hackers, and specialize in cybersecurity testing.</h2>
                        <a href="/en/contact/" class="button is-medium">TALK TO AN EXPERT</a>
                    </div>
                    <figure class="column hero-right">
                        {{ partial "picture.html" (dict "src" "martin-frontpage.png" "alt" "Martin Ingesen" "class" "has-ratio") }}
                    </figure>
                </div>
              <div class="columns is-hidden-desktop">
                  <div class="column">
                    <h1 class="title is-size-2-mobile is-size-2-tablet">We find your <span class="highlight-inverse">vulnerabilities</span> before the <span class="highlight-inverse">hackers</span> do</h1>
                    <h2 class="subtitle is-size-5-mobile is-size-3-tablet mt-1">Kovert thinks like the hackers, and specialize in cybersecurity testing.</h2>
                    <a href="/en/contact/" class="button is-responsive is-multiline">TALK TO AN EXPERT</a>
                  </div>
                  <figure class="column hero-right is-small-mobile">
                      {{ partial "picture.html" (dict "src" "martin-frontpage.png" "alt" "Martin Ingesen" "class" "has-ratio") }}
                  </figure>
              </div>
            </div>
        </div>
        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <p  class="has-text-centered">TRUSTED BY</p>
                    <section id="image-carousel" class="splide" aria-label="Trusted by">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    {{ partial "picture.html" (dict "src" "logos/skytale.png" "alt" "Skytale Logo") }}
                                </li>
                                <li class="splide__slide">
                                    {{ partial "picture.html" (dict "src" "logos/arctic-securities.png" "alt" "Arctic Securities Logo") }}
                                </li>
                                <li class="splide__slide">
                                    {{ partial "picture.html" (dict "src" "logos/ecit.png" "alt" "ECIT Logo") }}
                                </li>
                                <li class="splide__slide">
                                    {{ partial "picture.html" (dict "src" "logos/oda.png" "alt" "Oda Logo") }}
                                </li>
                                <li class="splide__slide">
                                    {{ partial "picture.html" (dict "src" "logos/ekornes.png" "alt" "Ekornes Logo") }}
                                </li>
                                <li class="splide__slide">
                                    {{ partial "picture.html" (dict "src" "logos/nordicbraintech.png" "alt" "Nordic Brain Tech Logo") }}
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </nav>
        </div>
    </section>
</div>
<div class="transition-green-to-white"></div>

<div class="container">
    <section class="section feature-light">
        <h1 class="section-title has-text-centered">We offer <span class="highlight">specialized services</span> to <br class="is-hidden-touch">secure your <span class="highlight">business</span></h1>
        <div class="columns">
            <div class="column is-4">
                <div class="card r-1">
                    <div class="card-image">
                        <figure class="image">
                            <a href="services/penetration-testing/">
                                {{ partial "picture.html" (dict "src" "network.png" "alt" "Placeholder image" "class" "p-5") }}
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-4-mobile">Network and Penetration Testing</h1>
                            Proactively uncover risks and vulnerabilities in your digital environment.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="services/penetration-testing/" class="card-footer-item">Learn more</a>
                    </footer>
                </div>
            </div>
            <div class="column is-4">
                <div class="card r-1">
                    <div class="card-image">
                        <figure class="image">
                            <a href="services/cloud-security/">
                                {{ partial "picture.html" (dict "src" "cloud.png" "alt" "Placeholder image" "class" "p-5") }}
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-4-mobile">Cloud Security</h1>
                            Cloud services are becoming an increasingly large part of modern IT solutions. We help you secure your cloud environment.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="services/cloud-security/" class="card-footer-item">Learn more</a>
                    </footer>
                </div>
            </div>
            <div class="column is-4">
                <div class="card r-1">
                    <div class="card-image">
                        <figure class="image">
                            <a href="services/application-testing/">
                                {{ partial "picture.html" (dict "src" "vulnerability.png" "alt" "Placeholder image" "class" "p-5") }}
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-4-mobile">Application Testing</h1>
                            We help you secure your software and applications, on web, mobile and desktop.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="services/application-testing/" class="card-footer-item">Learn more</a>
                    </footer>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4">
                <div class="card r-1">
                    <div class="card-image">
                        <figure class="image">
                            <a href="services/trainings/">
                                {{ partial "picture.html" (dict "src" "presentation.png" "alt" "Placeholder image" "class" "p-5") }}
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-4-mobile">Courses and Training</h1>
                            Taught directly by our team, we share our operational knowledge and lessons learned. We offer a range of scenarios designed to be applicable in day-to-day security operations.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="services/trainings/" class="card-footer-item">Learn more</a>
                    </footer>
                </div>
            </div>
            <div class="column is-4">
                <div class="card r-1">
                    <div class="card-image">
                        <figure class="image">
                            <a href="services/iot-product-security/">
                                {{ partial "picture.html" (dict "src" "iot.png" "alt" "Placeholder image" "class" "p-5") }}
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-4-mobile">IoT and Product Security</h1>
                            We can help you secure your IoT products and solutions, with experience in testing both software and hardware.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="services/iot-product-security/" class="card-footer-item">Learn more</a>
                    </footer>
                </div>
            </div>
            <div class="column is-4">
                <div class="card r-1">
                    <div class="card-image">
                        <figure class="image">
                            <a href="services/adversary-simulation/">
                                {{ partial "picture.html" (dict "src" "hacker.png" "alt" "Placeholder image" "class" "p-5") }}
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h1 class="is-size-4-mobile">Red Team and Readiness</h1>
                            We help you test your defenses and readiness against targeted attacks, through simulation of real-world threat actors.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="services/adversary-simulation/" class="card-footer-item">Learn more</a>
                    </footer>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="transition-white-to-green"></div>
<section class="section feature-dark">
    <div class="container">
        <!--<hr class="short-hr">-->
        <h1 class="section-title has-text-centered">What <span class="highlight-inverse">sets us apart</span> from the rest?</h1>
        <p class="subtitle has-text-centered">
            Kovert was founded with the vision to enhance the offensive security industry by gathering the most technologically skilled team of IT-security specialists. We take great pride in the services we provide to our clients. Kovert aims to set the tone for the IT-security testing industry by investing in excellent people and ensuring satisfaction on every engagement.
        </p>
        <div class="columns">
            <div class="column">
                <div class="img-container">
                    {{ partial "picture.html" (dict "src" "experts.png") }}
                </div>
                <h1 class="title">Technical<br>Experts</h1>
                <h2>The Kovert team is comprised of experts with year of experience doing offensive security work from both public and private sectors.</h2>
            </div>
            <div class="column">
                <div class="img-container">
                    {{ partial "picture.html" (dict "src" "research.png") }}
                </div>
                <h1 class="title">Led By<br>Advanced Research</h1>
                <h2>Kovert intends to set the standard for offensive security work. We spend 25% of our time doing R&D to enhance our knowledge and TTPs.</h2>
            </div>
            <div class="column">
                <div class="img-container">
                    {{ partial "picture.html" (dict "src" "community.png") }}
                </div>
                <h1 class="title">Giving Back<br>To The Community</h1>
                <h2>We aspire to support the community and share our expertise through presentations, blog posts, and trainings to benefit the whole industry, not just our clients.</h2>
            </div>
        </div>
    </div>
</section>
<div class="transition-green-to-white"></div>
<section class="section contact">
    <div class="container">
        <h1 class="section-title has-text-centered">Talk with an <span class="highlight">expert</span> to understand <br>how <span class="highlight">we can help</span></h1>
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            {{/*  Direct copy of {{< contactform >}}  */}}
                            <form id="contact-form" action="https://formspree.io/f/xqknvjdw" method="POST">
                                <div class="field">
                                    <h3 id="contact-form-status" class="subtitle is-3"></h3>
                                </div>
                                <div class="field">
                                    <label class="label">Your Name</label>
                                    <div class="control">
                                        <input class="input" type="text" name="name" placeholder="Contact Name">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Email</label>
                                    <div class="control has-icons-left">
                                        <input class="input" type="email" name="email" placeholder="Email address">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Phone</label>
                                    <div class="control has-icons-left">
                                        <input class="input" type="tel" name="tel" placeholder="Phone number">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-phone"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Message</label>
                                    <div class="control">
                                        <textarea class="textarea" placeholder="Message" name="message"></textarea>
                                    </div>
                                </div>
                                
                                <div class="field">
                                    <div class="control">
                                        <button type="submit" class="button is-success is-fullwidth">Send</button>
                                    </div>
                                </div>
                            </form>
                            <script src="/js/formspree.js"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="transition-white-to-green"></div>
{{ partial "footer" . }}
<script src="/js/particles.min.js"></script>
<script>
    particlesJS("particles-js", {
        "particles": {
            "number": {
                "value": 50,
                "density": {
                    "enable": true,
                    "value_area": 1000
                }
            },
            "color": {
                "value": ["#0ca438"]
            },
            "shape": {
                "type": "circle",
                "stroke": {
                    "width": 5,
                    "color": "#0ca438"
                },
                "polygon": {
                    "nb_sides": 5
                },
                "image": {
                    "src": "img/github.svg",
                    "width": 100,
                    "height": 100
                }
            },
            "opacity": {
                "value": 0.6,
                "random": false,
                "anim": {
                    "enable": false,
                    "speed": 1,
                    "opacity_min": 0.1,
                    "sync": false
                }
            },
            "size": {
                "value": 2,
                "random": true,
                "anim": {
                    "enable": false,
                    "speed": 40,
                    "size_min": 0.1,
                    "sync": false
                }
            },
            "line_linked": {
                "enable": true,
                "distance": 120,
                "color": "#0ca438",
                "opacity": 0.2,
                "width": 1.6
            },
            "move": {
                "enable": true,
                "speed": 2,
                "direction": "top",
                "random": false,
                "straight": false,
                "out_mode": "out",
                "bounce": false,
                "attract": {
                    "enable": false,
                    "rotateX": 600,
                    "rotateY": 1200
                }
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
                "onhover": {
                    "enable": true,
                    "mode": "grab"
                },
                "onclick": {
                    "enable": false
                },
                "resize": true
            },
            "modes": {
                "grab": {
                    "distance": 140,
                    "line_linked": {
                        "opacity": 1
                    }
                },
                "bubble": {
                    "distance": 400,
                    "size": 40,
                    "duration": 2,
                    "opacity": 8,
                    "speed": 3
                },
                "repulse": {
                    "distance": 200,
                    "duration": 0.4
                },
                "push": {
                    "particles_nb": 4
                },
                "remove": {
                    "particles_nb": 2
                }
            }
        },
        "retina_detect": true
    });
</script>
<script src="/js/typed.js"></script>
<script>
    var options = {
        strings: ['vulnerabilities', 'weaknesses', 'exposures'],
        typeSpeed: 75,
        backSpeed: 25,
        loop: true,
        showCursor: false,
        smartBackspace: true,
    };
    var typed = new Typed('.highlight', options);
</script>
<script src="/js/splide.min.js"></script>
<script src="/js/splide-extension-auto-scroll.min.js"></script>
<link href="/css/splide.min.css" rel="stylesheet">
<script>
    new Splide( '#image-carousel', {
        type: 'loop',
        perPage: 3,
        speed: 40,
        arrows: false,
        pagination: false,
        autoScroll: {
            speed: 1,
            pauseOnHover: false,
            pauseOnFocus: false
        },
        
    } ).mount( window.splide.Extensions );
</script>
</body>
</html>
