<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    {{ partial "tagmgrhead" . }}
    {{ partial "head" . }}
    <title>Kovert - Vi finner svakhetene før skurkene gjør det</title>
    <link rel="stylesheet" href="{{ (resources.Get "/css/index.css" | resources.Minify).Permalink }}">
</head>
<body>
    {{ partial "tagmgrbody" . }}
    <section class="hero is-fullheight is-transparent">
        <div id="particles-js"></div>
        <div class="hero-head">
            {{ partial "navbar.no.html" . }}
        </div>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-hidden-touch">
                    <div class="column is-6 hero-left">
                        <h1 class="title is-1">Vi finner <span class="highlight-block"><span class="highlight"></span></span> før <span class="highlight">skurkene</span> gjør det</h1>
                        <h2 class="subtitle is-3">Kovert tenker som hackerne og er spesialister på sikkerhetstesting.</h2>
                        <a href="kontakt/" class="button is-medium transform-uppercase">Snakk med en ekspert</a>
                    </div>
                    <figure class="column hero-right">
                        {{ partial "picture.html" (dict "src" "martin-frontpage.png" "alt" "Martin Ingesen" "class" "has-ratio") }}
                    </figure>
                </div>
                <div class="columns is-hidden-desktop">
                    <div class="column">
                      <h1 class="title is-size-2-mobile is-size-2-tablet">Vi finner <span class="highlight-block"><span class="highlight-inverse">sårbarhetene</span></span> før <span class="highlight-inverse">skurkene</span> gjør det</h1>
                      <h2 class="subtitle is-size-5-mobile is-size-3-tablet">Kovert tenker som hackerne og er spesialister på sikkerhetstesting.</h2>
                      <a href="kontakt/" class="button is-responsive is-multiline" style="text-transform: uppercase;">Snakk med en ekspert</a>
                    </div>
                    <figure class="column hero-right is-small-mobile">
                        {{ partial "picture.html" (dict "src" "martin-frontpage.png" "alt" "Martin Ingesen" "class" "has-ratio") }}
                    </figure>
                </div>
            </div>
        </div>
        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <p  class="has-text-centered transform-uppercase">Med tillit fra</p>
                    <section id="image-carousel" class="splide" aria-label="Med tillit fra">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    {{ partial "picture.html" (dict "src" "logos/skytale.png" "alt" "Skytale Logo") }}
                                </li>
                                <li class="splide__slide">
                                    {{ partial "picture.html" (dict "src" "logos/arctic-securities.png" "alt" "Artic Securities Logo") }}
                                </li>
                                <li class="splide__slide">
                                    {{ partial "picture.html" (dict "src" "logos/ecit.png" "alt" "ECIT Logo") }}
                                </li>
                                <li class="splide__slide">
                                    {{ partial "picture.html" (dict "src" "logos/oda.png" "alt" "Oda Logo") }}
                                </li>
                                <li class="splide__slide">
                                    {{ partial "picture.html" (dict "src" "logos/ekornes.png" "alt" "Ekornes Logo") }}
                                </li>
                                <li class="splide__slide">
                                    {{ partial "picture.html" (dict "src" "logos/nordicbraintech.png" "alt" "Nordic Brain Tech Logo") }}
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </nav>
        </div>
    </section>
    <div class="transition-green-to-white"></div>

    {{ partial "services-overview.no.html" }}

    <div class="transition-white-to-green"></div>
    <section class="section feature-dark">
        <div class="container">
            <h1 class="section-title has-text-centered">Hva <span class="highlight-inverse">skiller oss</span> fra resten?</h1>
            <p class="subtitle has-text-centered">
                Kovert ble grunnlagt med visjonen om å styrke den offensive sikkerhetsindustrien ved å samle det mest teknologisk dyktige teamet av IT-sikkerhetsspesialister. Vi er stolte av tjenestene vi kan levere til våre kunder. Kovert tar sikte på å sette tonen for IT-sikkerhetstestindustrien ved å investere i utmerkede ansatte og å sørge for fornøyde kunder i alle engasjementer.
            </p>
            <div class="columns">
                <div class="column is-4">
                    <div class="img-container">
                        {{ partial "picture.html" (dict "src" "experts.png" "alt" "Teknisk ekspertise") }}
                    </div>
                    <h1 class="title">Teknisk<br>Ekspertise</h1>
                    <h2>Kovert-teamet består av eksperter med mange års erfaring med offensiv sikkerhet fra både offentlig og privat sektor.</h2>
                </div>
                <div class="column is-4">
                    <div class="img-container">
                        {{ partial "picture.html" (dict "src" "research.png" "alt" "Drevet av avansert research") }}
                    </div>
                    <h1 class="title">Drevet av <br>avansert research</h1>
                    <h2>Kovert har som mål å sette standarden for offensiv sikkerhet. Vi bruker 25% av tiden vår på forskning og utvikling for å forbedre våre kunnskaper og TTP'er.</h2>
                </div>
                <div class="column is-4">
                    <div class="img-container">
                        {{ partial "picture.html" (dict "src" "community.png" "alt" "Gir tilbake til fellesskapet") }}
                    </div>
                    <h1 class="title">Gir tilbake<br>til fellesskapet</h1>
                    <h2>Vi jobber for å støtte fellesskapet, og deler vår ekspertise gjennom presentasjoner, bloggposter, events og kurs for å gi tilbake til hele industrien, ikke bare våre kunder.</h2>
                </div>
            </div>
        </div>
    </section>
    <div class="transition-green-to-white"></div>
    <section class="section contact">
        <div class="container">
            <h1 class="section-title has-text-centered">Snakk med en <span class="highlight">ekspert</span> for å høre <br> hvordan <span class="highlight">vi kan hjelpe</span></h1>
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                {{/*  Direct copy of {{< contactform >}}  */}}
                                <form id="contact-form" action="https://formspree.io/f/xqknvjdw" method="POST">
                                    <div class="field">
                                        <h3 id="contact-form-status" class="subtitle is-3"></h3>
                                    </div>
                                    <div class="field">
                                        <label for="input-name" class="label">Your Name</label>
                                        <div class="control">
                                            <input class="input" id="input-name" type="text" name="name" placeholder="Contact Name" />
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="input-email" class="label">Email</label>
                                        <div class="control has-icons-left">
                                            <input class="input" id="input-email" type="email" name="email" placeholder="Email address" />
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="input-tel" class="label">Phone</label>
                                        <div class="control has-icons-left">
                                            <input class="input" id="input-tel" type="tel" name="tel" placeholder="Phone number" />
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-phone"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="input-message" class="label">Message</label>
                                        <div class="control">
                                            <textarea id="input-message" class="textarea" placeholder="Message" name="message"></textarea>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <button type="submit" class="button is-success is-fullwidth">Send</button>
                                        </div>
                                    </div>
                                </form>
                                <script src="/js/formspree.js"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="transition-white-to-green"></div>

    {{ partial "footer.no.html" . }}

    <script src="/js/particles.min.js"></script>
    <script src="/js/typed.js"></script>
    <script src="/js/splide.min.js"></script>
    <script src="/js/splide-extension-auto-scroll.min.js"></script>
    <link href="/css/splide.min.css" rel="stylesheet">

    <script src="/js/home.no.js"></script>
</body>
</html>
