<form id="contact-form" action="https://formspree.io/f/xqknvjdw" method="POST">
  <div class="field">
    <h3 id="contact-form-status" class="subtitle is-3"></h3>
  </div>
  <div class="field">
    <label class="label">Your Name</label>
    <div class="control">
      <input class="input" type="text" name="name" placeholder="Contact Name">
    </div>
  </div>
  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left">
      <input class="input" type="email" name="email" placeholder="Email address">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label">Phone</label>
    <div class="control has-icons-left">
      <input class="input" type="tel" name="tel" placeholder="Phone number">
      <span class="icon is-small is-left">
        <i class="fas fa-phone"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label">Message</label>
    <div class="control">
      <textarea class="textarea" placeholder="Message" name="message"></textarea>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button type="submit" class="button is-success is-fullwidth">Send</button>
    </div>
  </div>
</form>
<script src="/js/formspree.js"></script>