{{/*
  Convert and resize images found in /assets. Defaults to webp format and original size/quality.
  Usage:
  {{< img src="image.jpg" alt="Alt text" class="img-class" resize="100x100" >}}

  All parameters are optional except src.
*/}}

{{ $src := .Get "src" }}
{{ $alt := compare.Conditional (isset .Params "alt") (.Get "alt") "" }}
{{ $class := compare.Conditional (isset .Params "class") (.Get "class") "" }}

{{ $image := resources.Get $src }}

{{ if $image }}
  {{ $resize := compare.Conditional (isset .Params "resize")
    (.Get "resize")
    (printf "%dx%d webp q100" $image.Width $image.Height) }}

  {{ $rsImage := $image.Resize $resize }}

  <picture>
    <source srcset="{{ $rsImage.Permalink }}" type="image/webp">
    <img src="{{ $image.Permalink }}" alt="{{ $alt }}" class="{{ $class }}">
  </picture>
{{ else }}
  {{/* No image file, for example when using a remote image */}}
  <img src="{{ $src }}" alt="{{ $alt }}" class="{{ $class }}">
{{ end }}
